<div class="da-dash">
  {{#if hasScene}}
  <div class="da-dash-top">
    <span class="da-dash-scene">{{localize "DAT.Dash.Scene"}}: <b>{{sceneName}}</b> · {{floorCount}} {{localize "DAT.Dash.Floors"}}</span>
    <span class="da-dash-spacer"></span>
    <button type="button" class="da-dash-btn" data-action="importFolder"><i class="fa-solid fa-file-import"></i> {{localize "DAT.Controls.Import"}}</button>
    <button type="button" class="da-dash-btn" data-action="addStairs"><i class="fa-solid fa-stairs"></i> {{localize "DAT.Controls.AddStairs"}}</button>
  </div>
  <div class="da-dash-body">
    <div class="da-dash-floors">
      <div class="da-dash-hd">{{localize "DAT.Dash.FloorsHd"}}</div>
      {{#each floors}}
      <div class="da-floor-row{{#if this.active}} active{{/if}}" data-action="viewFloor" data-level-id="{{this.id}}">
        <span class="da-floor-thumb" data-src="{{this.src}}"></span>
        <div class="da-floor-meta">
          <div class="da-floor-name">{{this.name}}{{#if this.start}} <span class="da-star">★</span>{{/if}}</div>
          <div class="da-floor-elev">{{localize "DAT.Dash.Elev"}} {{this.bottom}}–{{this.top}}{{#if this.active}} · {{localize "DAT.Dash.Viewing"}}{{/if}}</div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="da-dash-detail">
      <div class="da-dash-selname">{{selected.name}}{{#if selected.start}} <span class="da-star">★ {{localize "DAT.Dash.Start"}}</span>{{/if}}</div>
      <div class="da-dash-selelev">{{localize "DAT.Dash.Elev"}} {{selected.bottom}}–{{selected.top}}</div>
      <div class="da-dash-hd">{{localize "DAT.Dash.StairsHd"}}</div>
      {{#if selected.stairs.length}}
        {{#each selected.stairs}}
        <div class="da-dash-stair">
          <span class="da-dash-stair-ic da-stairs-mode--{{this.mode}}">{{this.icon}}</span>
          <div class="da-dash-stair-text">
            <span class="da-dash-stair-label">{{this.label}}</span>
            <span class="da-stairs-mode da-stairs-mode--{{this.mode}}">{{this.mode}}</span>
            <div class="da-dash-stair-sub">{{this.sub}}</div>
          </div>
        </div>
        {{/each}}
      {{else}}
        <p class="da-dash-empty">{{localize "DAT.Dash.NoStairs"}}</p>
      {{/if}}
    </div>
  </div>
  {{else}}
  <p class="da-dash-empty">{{localize "DAT.Dash.NoScene"}}</p>
  {{/if}}
</div>
