<div class="da-hub">
  <p class="da-hub-intro">{{localize "DAT.Hub.Intro"}}</p>
  <div class="da-hub-actions">
    <button type="button" class="da-hub-btn" data-action="importer">
      <i class="fa-solid fa-file-import"></i>
      <span class="da-hub-btn-label">{{localize "DAT.Controls.Import"}}</span>
      <span class="da-hub-btn-hint">{{localize "DAT.Hub.ImportHint"}}</span>
    </button>
    <button type="button" class="da-hub-btn" data-action="addStairs">
      <i class="fa-solid fa-stairs"></i>
      <span class="da-hub-btn-label">{{localize "DAT.Controls.AddStairs"}}</span>
      <span class="da-hub-btn-hint">{{localize "DAT.Hub.AddStairsHint"}}</span>
    </button>
    <button type="button" class="da-hub-btn" data-action="stairsManager">
      <i class="fa-solid fa-diagram-project"></i>
      <span class="da-hub-btn-label">{{localize "DAT.Controls.Manager"}}</span>
      <span class="da-hub-btn-hint">{{localize "DAT.Hub.ManagerHint"}}</span>
    </button>
  </div>
</div>
